{% load i18n %}
<select class="form-select" id="id-race-distance" name="race_distance">
    {% if is_race_ranking_page %}
        <option value="">{% trans "Select distance. Default Marathon" %}</option>
    {% else %}
        <option value="">{% trans "Select distance" %}</option>
    {% endif %}
    <option value="1km"   {% if race_distance == '1km' %}selected{% endif %}>{% trans "1 km" %}</option>
    <option value="1mi"   {% if race_distance == '1mi' %}selected{% endif %}>{% trans "1 mile" %}</option>
    <option value="5km"   {% if race_distance == '5km' %}selected{% endif %}>{% trans "5 km" %}</option>
    <option value="5mi"   {% if race_distance == '5mi' %}selected{% endif %}>{% trans "5 mile" %}</option>
    <option value="10km"  {% if race_distance == '10km' %}selected{% endif %}>{% trans "10 km" %}</option>
    <option value="15km"  {% if race_distance == '15km' %}selected{% endif %}>{% trans "15 km" %}</option>
    <option value="10mi"  {% if race_distance == '10mi' %}selected{% endif %}>{% trans "10 mile" %}</option>
    <option value="HM"    {% if race_distance == 'HM' %}selected{% endif %}>{% trans "Half Marathon" %}</option>
    <option value="30km"  {% if race_distance == '30km' %}selected{% endif %}>{% trans "30 km" %}</option>
    <option value="FM"    {% if race_distance == 'FM' %}selected{% endif %}>{% trans "Marathon" %}</option>
    <option value="50km"  {% if race_distance == '50km' %}selected{% endif %}>{% trans "50 km" %}</option>
    <option value="100km" {% if race_distance == '100km' %}selected{% endif %}>{% trans "100 km" %}</option>
    <option value="150km" {% if race_distance == '1km' %}selected{% endif %}>{% trans "150 km" %}</option>
    <option value="100mi" {% if race_distance == '1km' %}selected{% endif %}>{% trans "100 mile" %}</option>
    <option value="Other" {% if race_distance == '1km' %}selected{% endif %}>{% trans "Other" %}</option>
</select>