{% extends "strava_web/base.html" %}
{% load i18n %}
{% block title %}{{ group.name }} {% trans "Dashboard" %}{% endblock %}
{% block content %}
    <h2>{{ group.name }} {% trans "Dashboard" %}</h2>
    {% trans "Join Type:" %} {% if group.is_open %}{% trans "Open" %}{% else %}{% trans "Closed" %}{% endif %} 
    | {% trans "Group Type:" %} {% if group.has_dashboard %}{% trans "Athlete" %}{% else %}{% trans "Admin" %}{% endif %}
    | {% trans "Administrator:" %} {{ group.admin.username|default:"-" }}
    {% if group.announcement %}
        <div class="alert alert-info" role="alert">
            <strong>{% trans "Announcement" %}：</strong> {{ group.announcement|linebreaksbr }}
        </div>
    {% endif %}
    <h2>{% trans "群组描述" %}</h2>
    {% if group.description %}
        <p>{{ group.description|linebreaksbr }}</p>
    {% else %}
        <p>{% trans "该群组暂无描述。" %}</p>
    {% endif %}

    <p>{% trans "Group ranking and statistics will appear here." %}</p>

    <p><a href="{% url 'personal_dashboard' %}" class="button-link" style="background-color: #6c757d;">{% trans "Back to My Dashboard" %}</a></p>
{% endblock %}