{% extends 'strava_web/base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "Edit Group" %} - {{ group.name }}{% endblock %}
{% block content %}
<script src="{% static 'jquery.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'select2.min.css' %}">
<script src="{% static 'select2.min.js' %}"></script>
<div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
        <div class="card shadow-lg">
            <div class="card-header bg-primary text-white">
                <h5 class="mb-0">{% trans "Edit Group" %}: {{ group.name }}</h5>
            </div>
            <div class="card-body">
                <form method="post" action="{% if is_new %}{% url 'group_add' %}{% else %}{% url 'group_edit' group.id %}{% endif %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        <input type="text" id="id" name="id" class="form-control" value="{{ group.id }}" readonly hidden>
                        <input type="text" id="next" name="next" class="form-control" value="{{ next_url }}" readonly hidden>
                    </div>
                    <div class="mb-3">
                        <label for="name" class="form-label">{% trans "Group Name" %}:</label>
                        <input type="text" id="name" name="name" class="form-control" value="{{ group.name }}" required>
                    </div>
                    <div class="mb-3">
                        <label for="admin_search_input" class="form-label">{% trans "Group Admin" %}:</label>
                        <select class="admin_search_input form-control" id="admin_id_input" name="admin">
                            <option value="{{ group.admin.id }}" selected="selected">{{ group.admin.username }} ({{ group.admin.first_name }})</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="announcement" class="form-label">{% trans "Announcement" %}:</label>
                        <textarea id="announcement" name="announcement" rows="4" class="form-control">{{ group.announcement }}</textarea>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">{% trans "Description" %}:</label>
                        <textarea id="description" name="description" rows="4" class="form-control">{{ group.description }}</textarea>
                    </div>
                    <input type="text" id="has_dashboard" name="has_dashboard" class="form-control" 
                            value="{% if group.has_dashboard %}{% trans "Yes" %}{% else %}{% trans "No" %}{% endif %}" readonly hidden>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="is_open" name="is_open" {% if group.is_open %}checked{% endif %}>
                        <label class="form-check-label" for="is_open">{% trans "Is Open" %}</label>
                    </div>
                    <div class="d-flex justify-content-center mt-4 input-group">
                        <a href="{{ next_url }}" class="btn btn-secondary">
                            <i class="bi bi-x-lg" data-bs-toggle="tooltip" data-bs-placement="top" title="{% trans 'Cancel the change' %}"></i>
                        </a>
                        <button type="submit" class="btn btn-primary">
                            <i class="bi bi-floppy" data-bs-toggle="tooltip" data-bs-placement="top" title="{% trans 'Update the group information' %}"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        $('.admin_search_input').select2({
            placeholder: `{% trans 'Type to search' %}`,
            width: '100%',
            ajax: {
                url: `{% url 'search_users_ajax' %}`,
                dataType: 'json'
            }
        });
    });
</script>
{% endblock %}